# Variables de entorno y credenciales (¡Muy importante!)
.env
*.env

# Python (archivos temporales y entornos virtuales)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Editor y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db

# Generados por el backend / la base de datos local
*.log
database/vmotors.db
